$text-preset-1: (
    font-family: 'Rubik', sans-serif,
    font-weight: 500,
    font-size: 8rem,
    line-height: 100%,
    letter-spacing: 0em,
);

$text-preset-2-medium: (
    font-family: 'Rubik', sans-serif,
    font-weight: 500,
    font-size: 4rem,
    line-height: 100%,
    letter-spacing: 0em,
);

$text-preset-2-light: (
    font-family: 'Rubik', sans-serif,
    font-weight: 300,
    font-size: 4rem,
    line-height: 100%,
    letter-spacing: 0em,
);

$text-preset-3-medium: (
    font-family: 'Rubik', sans-serif,
    font-weight: 500,
    font-size: 2.3rem, // 36.8px    
    line-height: 120%,
    letter-spacing: 0em,
);

$text-preset-4-medium: (
    font-family: 'Rubik', sans-serif,
    font-weight: 500,
    font-size: 1.8rem, // 28.8px  
    line-height: 100%,
    letter-spacing: 0em,
);

$text-preset-5-medium: (
    font-family: 'Rubik', sans-serif,
    font-weight: 500,
    font-size: 1.5rem, // 28.8px  
    line-height: 150%,
    letter-spacing: 0em,
);

$text-preset-5-regular: (
    font-family: 'Rubik', sans-serif,
    font-weight: 400,
    font-size: 1.5rem, // 28.8px  
    line-height: 150%,
    letter-spacing: 0em,
);

$text-preset-6-italic: (
    font-family: 'Rubik', sans-serif,
    font-weight: 400,
    font-size: 1.25rem, // 20px  
    line-height: 150%,
    letter-spacing: 0em,
    font-style: italic,
);

$text-preset-1mobile-medium: (
    font-family: 'Rubik', sans-serif,
    font-weight: 500,
    font-size: 5rem, // 80px
    line-height: 100%,
    letter-spacing: 0em,
);

$text-preset-2mobile-medium: (
    font-family: 'Rubik', sans-serif,
    font-weight: 500,
    font-size: 2.5rem, // 40px
    line-height: 100%,
    letter-spacing: 0em,
);

$text-preset-2mobile-light: (
    font-family: 'Rubik', sans-serif,
    font-weight: 300,
    font-size: 2.5rem, // 40px
    line-height: 100%,
    letter-spacing: 0em,
);

$text-preset-3mobile-medium: (
    font-family: 'Rubik', sans-serif,
    font-weight: 500,
    font-size: 1.25rem, // 20px
    line-height: 120%,
    letter-spacing: 0em,
);

$text-preset-4mobile-medium: (
    font-family: 'Rubik', sans-serif,
    font-weight: 500,
    font-size: 1.15rem, // 18.4px
    line-height: 100%,
    letter-spacing: 0em,
);

$text-preset-5mobile-italic: (
    font-family: 'Rubik', sans-serif,
    font-weight: 400,
    font-size: 0.9rem, // 14.4px
    line-height: 150%,
    letter-spacing: 0em,
    font-style: italic,
);
